.wrapper{
	margin: 0 auto;
	padding: 3vh 4vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 4%;
	row-gap: 20px;
	@include small-devices {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2%;
	}
	@include medium-devices {
		grid-template-columns: repeat(3, 1fr);
	}
	@include large-devices {
		grid-template-columns: repeat(4, 1fr);	
		padding: 2vh 2vw;
	}
}