
.content {
	margin: 0 auto;
	padding: 3vh 4vw;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 4%;
	row-gap: 20px;
	@include small-devices {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2%;
	}
	@include medium-devices {
		grid-template-columns: repeat(3, 1fr);
	}
	@include large-devices {
		grid-template-columns: repeat(4, 1fr);	
		padding: 2vh 2vw;
	}
}
form {
	margin: 4vh auto 2vh;
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		height: 6vh;
		width: 180px;
		border-radius: 10px;
		border: 1px solid $color4;
		padding: 8px;
		text-align: center;
		&:hover {
			background: rgba(200, 71, 84, 0.1);
		}

		@include medium-devices {
			width: 240px;
		}
	}
}